__pycache__/
*.pyc

*.log

.env
venv/
.cache/
.idea/
.vscode/
results/
raw/
resources/
saved/
data/
base_models/
cache/
output/
X/
test_grpo/
train_log.out
trash/
cached_attack_dataset_gender/
result/
nohup.out
logs/
log/
log_tensorboard/
env/
checkpoints/
grpo_trainer_lora_model_*/
output_*/
save/
*.png
logs-*/
output-*/